DB_URL=jdbc:postgresql://aws-1-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require
DB_USERNAME=postgres.your-project-ref
DB_PASSWORD=your-db-password

SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_JWKS=https://your-project-ref.supabase.co/auth/v1/.well-known/jwks.json
